.title {
    font-size: 21;
    horizontal-align: left;
    padding: 5;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 15;
    color: #284848;
    padding: 5;
}

ListView {
  margin: 5;
}

Image {
  margin : 5;
  width: 25;
}
